<%- include('../../layouts/headerAdministrador'); -%>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-warning text-white">
          <h5 class="modal-title" id="exampleModalLabel">Centros de trabajo</h5>
          <button type="button" class="close bg-danger text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/Administrador/CentrosT/Crea/Save/" method="POST">
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Nombre:</label>
              <input type="text" class="form-control" id="Nombre" name="Nombre" required>   
              <input type="hidden" name="Estado" id="Estado" value="1">
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success">Continuar.</button>
          </div>
          </form>
        </div>
      </div>
    </div>
</div>  

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
    <div class="main-cards">
        <button  data-toggle="modal" data-target="#exampleModal" >
            <div class="card">
                <div class="card-inner">
                <p class="text-blue">Crear Centros de trabajo</p>
                 <span class="material-symbols-outlined">
                <i class="fa-solid fa-shield-halved"></i>
              </span>
                </div>
            </div>
        </button>
    </div>
<br>
<table class="table table-striped table-hover  table-sm" name="ListaEC" id="ListaEC">
    <thead class="table-dark">
      <tr>
        <th scope="col">Nombre </th>
        <th scope="col">Acciónes</th>
      </tr>
    </thead>
    <tbody class="table ">
        <% CentrosT.forEach((CentrosT)=> { %>
            <% if (CentrosT.Estado == 1) { %>
                <tr>
                    <th>
                        <%= CentrosT.Nombre %> 
                    </th>
                    <th>
                        <a class="btn btn-sm btn-warning bg-warning text-white" href="Editar/<%= CentrosT.ID %>">Editar 
                          <i class="fa-solid fa-triangle-exclamation"></i>
                        </a>
                        <button class="btn btn-sm btn-danger bg-danger"  onclick="Borrar('<%= CentrosT.ID %>')">Borrar 
                          <i class="fa-solid fa-biohazard"></i>
                        </button>
                    </th>
               </tr> 
            <% } %>
        <% }) %>    
    </tbody>
  </table>
  <script>
    function Borrar(id) {
        console.log(id)
        Swal.fire({
        title: 'Estas seguro de eliminar este centro?',
        text: "Esta acción podra traer errores!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Si, Eliminar!',
        cancelButtonText: 'No, Cancelar!'
        }).then((result) => {
        if (result.isConfirmed) {
            Swal.fire(
            'Eliminado!',
            'El centro de trabajo fue eliminado.',
            'success'
            ).then(()=>{
                window.location='/Administrador/CentrosT/Borrar/'+id
            })
        }
        })
    }
    </script>
  <!-- href="Borrar/<%=// operador.ID %> -->
<%- include('../../layouts/footerAdministrador'); -%>  