<%- include('../../layouts/headerSupervisor'); -%>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-warning text-white">
          <h5 class="modal-title" id="exampleModalLabel">Operador</h5>
          <button type="button" class="close bg-danger text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/Supervisor/Operador/Crea/Save/" method="POST">
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Primer nombre:</label>
              <input type="text" class="form-control" id="Nombre1" name="Nombre1" required>
            </div>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Segundo nombre:</label>
                <input type="text" class="form-control" id="Nombre2" name="Nombre2">
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Primer apellido:</label>
                <input type="text" class="form-control" id="Apellido1" name="Apellido1" required>
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Segundo apellido:</label>
                <input type="text" class="form-control" id="Apellido2" name="Apellido2" required>
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Tipo de documento:</label>
                <select class="form-select" aria-label="Default select example" name="TipoDoc" id="TipoDoc">
                    <option value="1">Cedula</option>
                    <option value="2">Tarjeta de identidad</option>
                  </select>
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Numero  celular:</label>
                <input type="number" class="form-control" name="Telefono" id="Telefono" required>
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Documento:</label>
                <select class="form-select" aria-label="Default select example" name="ID_Usuario" id="ID_Usuario">
                    <% usuarios.forEach((usuarios)=>{ %> 
                        <option value="<%= usuarios.ID %>"><%= usuarios.Email %> </option>
                    <% }) %>
                  </select>
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Centro de trabajo:</label>
                <% centros.forEach((centros)=>{ %> 
                    <input type="text" class="form-control" placeholder="<%= centros.Nombre %>"  disabled>
                    <input type="hidden" name="ID_Centro" id="ID_Centro" value="<%= centros.ID %>">
                <% }) %>
              </div>
            <div class="modal-footer">
                <input type="hidden" class="form-control" id="Estado" name="Estado" value="1">  
                <button type="submit" class="btn btn-success">Continuar.</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>  

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
    <div class="main-cards">
        <button  data-toggle="modal" data-target="#exampleModal" >
            <div class="card">
                <div class="card-inner">
                <p class="text-blue">Crear operador</p>
                <span class="material-symbols-outlined">
                    admin_panel_settings
                </span>
                </div>
            </div>
        </button>
    </div>
<br>
<table class="table table-striped table-hover  table-sm" name="ListaEC" id="ListaEC">
    <thead class="table-dark">
      <tr>
        <th scope="col">Primer <br> Nombre </th>
        <th scope="col">Segundo <br> Nombre </th>
        <th scope="col">Primer <br> Apellido</th>
        <th scope="col">Segundo <br> Apellido</th>
        <th scope="col">Tipo <br> Documento</th>
        <th scope="col">No. <br> Documento</th>
        <th scope="col">No. <br> Telefono</th>
        <th scope="col">Acciónes</th>
      </tr>
    </thead>
    <tbody class="table ">
        <% operador.forEach((operador)=> { %>
            <% if (operador.Estado == 1) { %>
                <tr>
                    <th>
                        <%= operador.Nombre1 %> 
                    </th>
                    <th>
                        <%= operador.Nombre2 %> 
                    </th>
                    <th>
                        <%= operador.Apellido1 %> 
                    </th>
                    <th>
                        <%= operador.Apellido2 %> 
                    </th>
                    <th>
                        <% if (operador.TipoDoc == 1)  {%> Cedula <% } %> 
                        <% if (operador.TipoDoc == 2)  {%> Tarjeta Identidad <% } %> 
                    </th>
                    <th>
                      <% usuario.forEach((usuario)=>{ %> 
                        <% if(usuario.ID  == operador.ID_Usuario) {%> 
                            <%= usuario.Email %>
                        <% } %> 
                      <% }) %>  
                    </th>
                    <th>
                        <%= operador.Telefono %> 
                    </th>
                    <th>
                        <a class="btn btn-sm btn-warning bg-warning text-white" href="Editar/<%= operador.ID %>">Editar 
                            <span class="material-symbols-outlined icono">
                                warning
                            </span>
                        </a>
                        <button class="btn btn-sm btn-danger bg-danger"  onclick="Borrar('<%= operador.ID %>')">Borrar 
                            <span class="material-symbols-outlined icono">
                                dangerous
                            </span>
                        </button>
                    </th>
               </tr> 
            <% } %>
        <% }) %>    
    </tbody>
  </table>
  <script>
    function Borrar(id) {
        console.log(id)
        Swal.fire({
        title: 'Estas seguro de eliminar el operador?',
        text: "Esta acción podra traer errores!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Si, Eliminar!',
        cancelButtonText: 'No, Cancelar!'
        }).then((result) => {
        if (result.isConfirmed) {
            Swal.fire(
            'Eliminado!',
            'El operador fue eliminado.',
            'success'
            ).then(()=>{
                window.location='/Supervisor/Operador/Borrar/'+id
            })
        }
        })
    }
    </script>
  <!-- href="Borrar/<%=// operador.ID %> -->
<%- include('../../layouts/FooterSupervisor'); -%>  